# Itens e notas fiscais

Neste notebook está contida minha solução para a questão 3, a proposta é a criação de 3 data frames que relacionam notas ficais a itens nelas contidos permitindo uma base para a criação de tabelas em um banco relacional.

In [524]:
from collections import defaultdict
import pandas as pd

In [525]:
df = pd.read_json('./itens.json')

O data frame **df_itens** é referente a tabela de produto contendo o seu id/index e valor para que possa ser buscado e e então calculado o valor total de uma nota fiscal

In [526]:
df_itens = pd.DataFrame(df['ItemList']).explode('ItemList')

In [541]:
temp = []
prod_name_temp = []
quantity_temp = []

In [542]:
for _, row in df.iterrows():
    df_temp = pd.DataFrame(columns=['NFeID', 'ProductName', 'Quantity'])
    df_temp['NFeID'] = pd.Series(row['NFeID'])
    for item in row['ItemList']:
        prod_name_temp.append(item['ProductName'])
        quantity_temp.append(item['Quantity'])
    temp.append(df_temp)

In [543]:
temp

[   NFeID ProductName Quantity
 0      1         NaN      NaN,
    NFeID ProductName Quantity
 0      2         NaN      NaN,
    NFeID ProductName Quantity
 0      3         NaN      NaN]

O data frame **df_nf_itens** relaciona as tabelas de notas fiscais e produtos onde através do id da nota fiscal pode-se buscar um determinado produto e suas quantidades para o calculo do total gasto com esse produto nesta nota fiscal

In [531]:
df_nf_itens = pd.concat(temp)

   NFeID ProductName  Quantity
0      1        Bean         7
0      2       Pasta         5
0      3   Ice cream         1

In [544]:
df_nf_itens.reset_index()

   index  NFeID ProductName  Quantity
0      0      1        Bean         7
1      0      2       Pasta         5
2      0      3   Ice cream         1

In [500]:
dfs = []

In [501]:
for _, row in df_itens.iterrows():
    df_i = pd.DataFrame(row['ItemList'], index=[0])
    dfs.append(df_i)

In [502]:
df_itens = pd.concat(dfs)

Devido a falta de id para produto, tomei a liberdade de usar index como nome apesar de não achar a melhor ideia. Também pensei em utilizar a quantidade de linhas (algo como range(1, len(df_itens.rows()) porém, caso fosse adionado algum produto de nome igual a algum produto existente seria necessario agrupar estes produtos em uma mesma linha.

In [503]:
df_itens = df_itens.set_index('ProductName')

In [504]:
df_itens.drop('Quantity', axis=1)

              Value
ProductName
Rice          35.55
Flour         11.55
Bean          27.15
Tomate        12.25
Pasta          7.55
Beer           9.00
French fries  10.99
Ice cream     27.15

In [380]:
df_notas.set_index('NFeID')

                   CreateDate         EmissionDate  Discount  NFeNumber
NFeID
1      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501
2      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502
3      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503

Em casos de tabelas pequenas (com poucas quantidades de linhas) também é possível adicionar/manter os ids do produto (neste caso o **ProductName**) no **df_notas** para transforma-los em tabelas relacionais sem que o desempenho de busca destas tabelas seja comprometido.